.Nav{
    color: white ;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.List{
    background-color: rgb(164, 175, 184);
}

.ListItem{
    border: 2px solid rgb(61, 61, 112);
}

.contact{
    
    color: rgb(61, 61, 112);
    font-size: 2rem;
    margin: 0px;
    
}

.ButtonDiv{
   text-align: right;
   margin-top: -20px;
   margin-bottom: 15px;

}
.button{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    padding: 4px;
    border: 1px solid white;
    margin-right: 10px;
}

.AddForm{
    margin-top: 30px;
}

.delete{
    position: relative;
    font-size: 20px;
    margin: 300px;
    
}

.DeleteContainer{
    text-align: center;
}